GCS_BUCKET=your-project-static-site
GCP_PROJECT_ID=your-gcp-project
CDN_URL_MAP_NAME=tapshalkar-url-map
ANTHROPIC_API_KEY=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=
STEAM_API_KEY=
STEAM_USER_ID=76561198xxxxxxxxx
GITHUB_TOKEN=
GITHUB_USERNAME=adityataps
